@charset "UTF-8";
/* COLORS */
body, h1, h1, h3, h4, h5, h6, a {
  color: #FFFFFF; }

a:hover,
a:focus,
a:active,
.btn.focus,
.btn:focus,
.btn:hover {
  color: #FFFFFF;
  text-decoration: none; }

.baskerville {
  font-family: 'Baskerville', serif; }

.bodoni {
  font-family: 'Bodoni Ornaments', serif; }

.osaka {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; }

.first-header {
  font-style: italic; }
  @media (min-width: 768px) {
    .first-header h1 {
      font-size: 35px; }
    .first-header h2 {
      font-size: 63px; } }
  @media (min-width: 992px) {
    .first-header h1 {
      font-size: 50px; }
    .first-header h2 {
      font-size: 90px; } }
  @media (min-width: 1200px) {
    .first-header h1 {
      font-size: 75px; }
    .first-header h2 {
      font-size: 135px; } }

.city-directory, .btn-special {
  font-style: italic;
  font-weight: 700; }
  @media (min-width: 768px) {
    .city-directory, .btn-special {
      font-size: 30px; } }
  @media (min-width: 992px) {
    .city-directory, .btn-special {
      font-size: 50px; } }
  @media (min-width: 1200px) {
    .city-directory, .btn-special {
      font-size: 70px; } }

.footer h1, .footer h1, .footer h3, .footer h4, .footer h5, .footer h6, .footer p, .footer a {
  color: #000000;
  text-transform: uppercase; }

.footer ul {
  padding: 0px;
  list-style: none; }

body {
  background-color: #000000; }

.video-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -10; }
  .video-container video {
    min-height: 100%;
    min-width: 100%;
    width: auto;
    height: auto;
    position: absolute; }

.first-header {
  margin-top: 300px; }

.btn-special {
  border: 2px solid white;
  border-radius: 36px;
  text-transform: uppercase;
  padding: 15px 20px; }

.city-directory, .quote-directory {
  padding: 0;
  list-style: none; }

.carousel-control.right, .carousel-control.left {
  background: none; }

.carousel-control.right {
  right: -100px; }

.carousel-control.left {
  left: -100px; }

.footer {
  background-color: rgba(255, 255, 255, 0.95);
  padding-top: 30px; }

.modal img {
  max-width: 100%; }

.modal .prev-image {
  position: absolute;
  left: -30px; }

.modal .next-image {
  position: absolute;
  right: -30px; }
